.container {
	overflow: auto;
	scroll-snap-type: y mandatory;
	height: 100vh;
}

section {
	scroll-snap-align: start;
	height: 100vh; /* 뷰포트 높이 */
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.hero {
	background-image: url("images/bread1.jpg");
	text-align: center;
	padding-top: 10vh;
	font-family: 'DynaPuff', cursive;
}

.menu {
	background-image: url("images/bread2.jpg");
	display: flex;
	align-items: center;
}
.wrapper {
	width: 900px;
	margin: 0 auto;
}
.menulist tr {
	margin-bottom: 5px;
	line-height: 2;
}

.contact {
	background-image: url("images/cafe.jpg");
	text-align: center;
}
.contactsns {
	display: flex;
	justify-content: center;
}
.contactsns a {
	margin-top: 20px;
	margin-left: 10px;
}

.fa-square-facebook {
	color: red;
}

.title {
	font-family: 'DynaPuff', cursive;
	font-size: 7rem;
	margin-bottom: 2rem;
}








@media (max-width: 700px) {
	.title {
		font-size: 4rem;
		color: blue;
	}
}
