/* 미디어쿼리 : 디바이스 크기에 따라 css 설정 */

body {
	color: #949887;
	font-family: '굴림';
	background-image: url("images/bg.png");
}
header {
	max-width: 1000px;
	margin: 2.5rem auto 0;
	background-image: url("images/header.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 170px;
}
.page_title {
	font-size: 35px;
	font-family: '굴림';
	text-align: center;
	margin: 50px 0px;
}
.page_desc {
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
}

/* ------------------------------------------------*/

.container {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 0 0 10px 10px;
}

/*-------------------------------------------------*/

.post_title {
	padding-bottom : 50px;
	background-image: linear-gradient(45deg, #fff 30%, #ccc 30%, #ccc 50%, #fff 50%, #fff 80%, #ccc 80%, #ccc 100%);
	background-size: 6px 6px;
	margin-bottom: 1.5rem;
}
.post_title h2 {
	background-color: #ffffff;
	padding: 0 0.5rem .875rem;
	font-size: 1.5rem;
	font-family: '굴림';
	font-weight: 500;
	line-height: 1.5;
}
.post_title a {
	color: #949087;
	text-decoration: none;
}

.btn a {
	color: #fff;
	padding: 10px 20px;
	background-color: #eda1a1;
	box-shadow: 0 0 0 5px #eda1a1;
	border: 2px dashed #e38787;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
}
.btn a:hover {
	color: #fff;
	background-color: #e38787;
	box-shadow: 0 0 0 5px #e38787;
	border: 2px dashed #eda1a1
}

.post_img {
	width: 100%;
	height: 260px;
	object-fit: cover;
	border-radius: 40% 70% 50% 30%/50%; /* 가로 각각, 세로 50% 통일 */
}

.post_thumb {
	position: relative;
}

article ul li::before {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #93d8d0;
	display: inline-block;
	margin: 0 8px 2px 0;
}

ol li {
	/* 해당요소를 사용할때마다 숫자가 늘어남 */
	counter-increment: list;
}

article ol li::before {
	content: counter(list);
	color: #93DF88;
	display: inline-block;
	margin-right: 8px;
}

article blockquote {
	position: relative;
	padding: 1rem 3rem 1rem 3rem;
	margin-bottom: 1rem;
}

article blockquote::before,
article blockquote::after {
	font-size: 6rem;
	font-family: "Noto Sans KR", sans-serif;
	position: absolute;
	color: #cccccc;
	line-height: 0;
}
article blockquote::before {
	content: '\201C';
	top: 2.5rem;
	left: 0;
}
article blockquote::after {
	content: '\201D';
	bottom: 0.5rem;
	right: 0;
}

.post_thumb {
	margin: 0 3rem 1rem 0;
	shape-outside: circle();
	float: left;
}
.popular_posts {
	position: sticky;
	top: 1rem;
}

.bgbox {
	position: relative;
	padding: 20px;
}

.bgbox ::before, .bgbox ::after {
	content: '';
	width: 40px; height: 40px;
	position: absolute;
}

.bgbox ::before {
	border-top: 2px solid red;
	border-left: 2px solid red;
	top: 0;
	left: 0;
}

.bgbox ::after {
	border-bottom: 2px solid red;
	border-right: 2px solid red;
	bottom: 0;
	right: 0;
}

.pagination {
	display: flex;
	justify-content: center;
	font-family: '굴림';
	font-size: 1.5rem;
	text-align: center;
}
.pagination a {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	padding-top: 4px;
	margin: 0 10px;
	display: inline-block;
}

.pagination .current {
	background: #cccccc;
	color: #ffffff;
}

.pagination a:hover {
	background-color: #93d8d0;
	color: #ffffff;
}

.side_box {
	border: 1px solid #ccc; /* 기본테두리 */
	border-radius: 6px;
	outline: 2px solid red;	/* 바깥 테두리 */
	outline-offset: 4px; /* 기본 테두리와 바깥 테두리 간격 */
	padding: 0.875rem;
	margin-bottom: 4rem;
	position: relative;
}
.side_box::before {
	width: 2rem;
	height: 2rem;
	text-align: center;
	position: absolute;
	top: -1rem; /* 테두리 겹치기 */
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #ffffff;
	
	font-family: "Font Awesome 5 pro";
	content: '\f1b0';
	font-weight: 900;
	font-size: 1.5rem;
	color: #949887;
}

footer {
	background-color: #949887;
	text-align: center;
	padding: 3rem;
}
footer ul {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}
footer li {
	margin: 0 12px;
}
footer a {
	color: #ffffff;
}
footer a:hover {
	color: #c7c3ba;
}
footer small {
	color: #c7c3ba;
	font-size: .875rem;
}

@media(min-width : 600px) {
	
	.container {
		display: flex;
		justify-content: space-between;
	}
	main {
		width: 68%;
	}
	aside {
		width: 26%;
	}
	.post_img {
		width: 220px;
		height: 180px;
		object-fit: cover;
		border-radius: 40% 70% 50% 30% / 50%;
	}
	.post_thumb {
		margin: 0 3rem 1rem 0;
		shape-outside: circle();
		float: left;
	}
	.popular_posts {
		position: sticky;
		top: 1rem;
	}
}



























