/* 미디어쿼리 : 디바이스 크기에 따라 css 설정 */

.post_title {
	padding-bottom : 50px;
	background-image: linear-gradient(45deg, #fff 30%, #ccc 30%, #ccc 50%, #fff 50%, #fff 80%, #ccc 80%, #ccc 100%);
	background-size: 6px 6px;
	margin-bottom: 1.5rem;
}
.post_title h2 {
	background-color: #ffffff;
	padding: 0 0.5rem .875rem;
	font-size: 1.5rem;
	font-family: '굴림';
	font-weight: 500;
	line-height: 1.5;
}
.post_title a {
	color: #949087;
	text-decoration: none;
}

.btn a {
	color: #fff;
	padding: 10px 20px;
	background-color: #eda1a1;
	box-shadow: 0 0 0 5px #eda1a1;
	border: 2px dashed #e38787;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
}
.btn a:hover {
	color: #fff;
	background-color: #e38787;
	box-shadow: 0 0 0 5px #e38787;
	border: 2px dashed #eda1a1
}

.post_img {
	width: 100%;
	height: 260px;
	object-fit: cover;
	border-radius: 40% 70% 50% 30%/50%; /* 가로 각각, 세로 50% 통일 */
}

.post_thumb {
	position: relative;
}

article ul li::before {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #93d8d0;
	display: inline-block;
	margin: 0 8px 2px 0;
}

@media(min-width : 600px) {
	
	.container {
		display: flex;
		justify-content: space-between;
	}	
	main {
		width: 68%;
	}
	aside {
		width: 26%;
	}
	.post_img {
		width: 220px;
		height: 180px;
		object-fit: cover;
		border-radius: 40% 70% 50% 30% / 50%;
	}
	
}
.post_thumb {
	margin: 0 3rem 1rem 0;
	shape-outside: circle();
	float: left;
}






























