@charset "UTF-8";

.btn {
	color: #fff;
	font-size: 1.5rem;
	border-radius: 5px;
	text-decoration: none;
	background-color: #5fb2c1;
	box-shadow: 0 3px #3b8a98;
	position: relative;
	top: -2px;
	padding: 10px 20px;
	display: inline-block;
}
.btn:hover {
	box-shadow: 0 1px #3b8a98;
	top: 1px;
}
